{{define "products-new"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>New Product</h1>
    <form action="/products/create" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="price">Price</label>
        <input type="text" id="price" name="price">
        <label for="category_id">Category ID</label>
        <input type="text" id="category_id" name="category_id">
        <button type="submit">Create</button>
    </form>
</body>
</html>
{{end}}